.colorConverter {
  width: 280px;
  text-align: center;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 8px;
  /* background: blue; */
}

#colorRGB {
    width: 162px;
    height: 16px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
    margin: 5px auto 5px auto;
    padding: 5px;
    color: white;
    background: rgba(128, 128, 128, 0.3);
}