.trainingAccounting {
  width: 300px;
  text-align: center;

  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
}

.form {
  padding: 0 0 0 0;
}

.date {
  font-size: 10px;
  width: 100px;
  margin: 0 10px 0 0;
  display: inline-block;
}

#date {
  /* width: 88px; */
  width: 100px;
}

.distance {
  font-size: 10px;
  width: 80px;
  margin: 0 10px 0 10px;
  display: inline-block;
}

#distance {
  width: 70px;
}

.ok {
  margin: 0 0 0 10px;
  display: inline-block;
}

.tableTitle {
  display: flex;
  justify-content: center;
  min-height: 10px;
  min-width: 10px;
  font-size: 10px;
  padding: 5px;
  margin: 10px 0 0 0;
}

.tableData {
  border: 1px solid black;
  border-radius: 4px;
  
  min-height: 10px;
  min-width: 10px;
}

.pDate {
  margin: 0 auto 0 0;
}
.pCompleted {
  margin: 0 auto 0 auto;
}
.pActions {
  margin: 0 0 0 auto;
}


/* styles.css */
input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: 14px;
  color: #fff;
  background-color: black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 132, 132);
}

button:active {
  background-color: rgb(0, 254, 254);
}

/* Вставляемая строка */
.line {
  /* display: inline-block; */
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 3px 0;
}

.dateLine {
  /* margin: 0 0 0 10px; */
  display: inline-block;
}

.kmLine {
  /* margin: 0 20px; */
  display: inline-block;
}



.editX {
  /* margin: 0 5px; */
  display: inline-block;
}

.editLine {
  /* margin: 0 5px; */
  display: inline-block;
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  border-radius: 3px;

  background-image: url('./png/edit.png');
  background-size: contain;
  cursor: pointer;
}

.delLine {
  margin: 0 0 0 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  border-radius: 3px;

  background-image: url('./png/del.png');
  background-size: contain; 
  /* background-size: 100% 100%; */
  cursor: pointer;
}