.App {
  font-family: sans-serif;
}

.colorConverter {
  width: 280px;
  text-align: center;

  margin: 20px auto;
  padding: 25px;

  border: 1px solid black;
  border-radius: 8px;
}

.TrainingAccounting {
  width: 300px;
  text-align: center;

  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
}
